<header class ="container" xmlns:th="http://www.thymeleaf.org"
         th:fragment="header">
    <img class="bnr" src="https://img.freepik.com/free-vector/orange-background-with-elephant-for-indian-republic-day_23-2147588186.jpg" alt="image">
    <nav>
        <a href="/"><b>Головна</b></a>
        <a href="/cart"><b>Кошик</b></a>
        <a href="/tea"><b>Чай</b></a>
        <a href="/posud"><b>Посуд</b></a>
        <a href="/about-us"><b>Про Нас</b></a>
    </nav>
    <input type="checkbox" class="mobileMenuController" name="showMobileMenu" id="showMobileMenu" />
    <label for="showMobileMenu" class="showMenuIcon">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div class="mobileMenu">
        <a href="/"><b>Головна</b></a>
        <a href="/cart"><b>Кошик</b></a>
        <a href="/tea"><b>Чай</b></a>
        <a href="/posud"><b>Посуд</b></a>
        <a href="/about-us"><b>Про Нас</b></a>
    </div>
</header>