# Maven/Gradle сгенерированные файлы
target/
build/

# Логи
*.log
*.log.*

# Настройки IDE
/.idea/
/*.iml
/.vscode/
/.project
/.classpath
/.settings/
/*.launch

# Операционная система
.DS_Store
Thumbs.db

# Виртуальные окружения и кэш
/.venv/
/node_modules/
/npm-debug.log*
/yarn-error.log*
/.pnpm-debug.log*

# Файлы конфигурации
*.env
.env.local
*.config.js

# Сборка и кэширование
/.sass-cache/
/.staging/
/coverage/
/.cache/
/dist/
/.out/
/build/

# Heroku
/.heroku/
Procfile

# Docker
*.dockerfile
docker-compose.yml

