@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}
main {
    min-height: calc(90vh); /* Учитываем высоту футера */
    flex-grow: 1;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDEAE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    height: 70px;
    background-color: #3e4e50;
    color: #EDEAE5;
    margin-top: auto; /* Автоматическое размещение футера внизу */
}


img{
 border-radius: 20px;
}

header nav a:hover {
    color:#004d40;
    transform: translateY(-5px);

}
.emptycarturl:hover{
    color:#004d40;
    transform: translateY(-5px);
}

header {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.kinds{
    font-weight: bold;
    color:#026670;
    margin-top:20px;
    margin-bottom:10px;
    transition: color 500ms ease;
    transition: transform 0.6s ease;
    display: inline-block;
}
.kinds:hover{
    color:#004d40;
    transform: translateY(-5px);
    transform: scale(1.05);
}

header nav a{
    transition: color 500ms ease;
    transition: transform 0.6s ease;
    display: inline-block;
    text-decoration: none;
    color:#026670;
    font-weight: 500;
    margin-left:15px;
}

.emptycarturl{
    margin-top: 20px;
    transition: color 500ms ease;
    transition: transform 0.6s ease;
    display: inline-block;
    text-decoration: none;
    color:#026670;
    font-weight: 500;
    margin-left:15px;
}

img.bnr{
    float:right;
    width: 7%;
}



.banner{
    box-sizing: border-box;
    padding-top:2%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    width: 100%;
    height: 20%;
    background-color: #5a7071 ;
    color: #EDEAE5;
}
.banner1{
    box-sizing: border-box;
    padding-top:2%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    width: 100%;
    height: 20%;
    background-color: #EDEAE5;
    color: #5a7071 ;
}

.itemsEmpty{
    margin-bottom: 50px;
    margin-left: 50px;
    color: #222;
    font-weight: 600;
    font-size: 25px;
}

.items1{
margin-left: 20px;
margin-right:20px;
margin-bottom: 20px;
margin-top: 20px;
}

.items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Отступы между элементами */
        justify-content: center; /* Центрирование товаров */
        margin-right: 30px ; /* Центрирование контейнера и отступы сверху и снизу */
        margin-left:10px;
        margin-top:auto;
        margin-bottom:auto;
        padding-left: 10px; /* Добавление одинакового отступа слева и справа */
        padding-right: 30px; /* Отступ справа */
        max-width: calc(100% - 40px); /* Гарантирует, что контейнер не выйдет за пределы страницы */
        box-sizing: border-box;
}
.item:hover{
    background-color:#536769;
    transform: translateY(-7px);
    transform: scale(1.03);
    color:#004d40;
}
.itemsell:hover{
    background-color:#536769;
    transform: translateY(-7px);
    color:#004d40;
}

.itemsell{

        position: relative; /* Устанавливаем относительное позиционирование для родительского элемента */
        box-sizing: border-box;
        flex: 1 1 calc(30% / 2 - 1rem); /* Используем относительные единицы для адаптивности */
        color: #EDEAE5;
        padding: 1rem; /* Внутренние отступы для адаптивности */
        border-radius: 1rem; /* Скругление углов */
        background-color: #8AD5E0;
        margin: 0.5rem; /* Отступы между элементами */
        transition: color 500ms ease;
        transition: transform 0.6s ease;
        max-width:310px;
}
.item{
    position: relative;
    flex: 0 1 calc(50% - 20px); /* 50% ширины с учетом отступов */
    box-sizing: border-box;
    background-color: #5a7071;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.6s ease;
    max-width: 100%; /* Гарантия, что товар займет всю доступную ширину */
    text-align: center; /* Центрирование содержимого */
}
.item img {
    width: 100%; /* Изображение занимает всю ширину товара */
    height: auto;
    border-radius: 10px;
}
.item h3 {
    margin-top: 10px;
    font-size: 1.5rem; /* Увеличение размера заголовка */
}

.item span {
    font-size: 1.2rem; /* Размер текста для цены */
    color: #EDEAE5;
}

.iturl{
     text-decoration: none;
     color:#EDEAE5;
}



.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.carousel-item img {
    margin-left:10%;
    margin-right:10%;
    width: 80%;
    display: block;
    border-radius: 10px;
}

.addtocart {
    width: 100%; /* Кнопка занимает всю ширину формы */
    padding: 10px;
    background-color: #026670;
    color: #EDEAE5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addtocart:hover {
    background-color: #004d40;
}

.addtocartform{
    position: relative; /* Относительное позиционирование */
    bottom: 0; /* Расположить форму снизу */
    left: 0; /* Слева */
    width: 100%; /* Сделать форму по ширине элемента */
    text-align: center; /* Центрировать содержимое формы */
    margin-top: 10px; /* Отступ сверху */
}

.cartform {
    width: 50%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.cartform input,
.cartform button {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.cartform input:focus,
.cartform button:focus {
    outline: none;
    border-color: #5a7071;
}

.cartform button {
    color: #EDEAE5;
    background-color: #5a7071;
    transition: transform 0.6s ease;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cartform button:hover {
        background-color:#536769;
        transform: translateY(-5px);
}

.containerform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}



.icarousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.icarousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.icarousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.icarousel-item img {
    margin-left:20%;
    margin-right:20%;
    width: 60%;
    display: block;
    border-radius: 10px;
}

.aboutItem{
margin-top:5%;
margin-left:15%;
margin-right:25%;
width:60%;
}

.addtocart-container {
    display: flex;
    justify-content: center; /* Центрирует форму по горизонтали */
    align-items: center; /* Центрирует форму по вертикали */
    height: 100px; /* Устанавливает высоту контейнера, чтобы кнопка располагалась правильно */
    margin-top: 20px; /* Расстояние от элементов выше */
}

.addtocartForm {
    position: relative; /* Обеспечивает, что кнопка будет располагаться относительно формы */
    width: 10%; /* Ширина формы равна ширине контейнера */
}

.addtocartItem {
    width: 100%; /* Занимает всю ширину формы */
    background-color: #026670; /* Цвет фона кнопки */
    color: #EDEAE5; /* Цвет текста кнопки */
    border: none; /* Убираем границы кнопки */
    padding: 0.5rem 1rem; /* Внутренние отступы кнопки */
    border-radius: 0.5rem; /* Скругление углов кнопки */
    cursor: pointer; /* Изменяем указатель на курсор руки */
    transition: transform 0.6s ease;
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
    box-sizing: border-box; /* Включает отступы и границы в общую ширину и высоту */
}

.addtocartItem:hover {
    transform: scale(1.05);
    background-color: #004d40; /* Цвет фона при наведении */
}


.contact-info {
    background-color: #EDEAE5;
    color: #3e4e50;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.contact-container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-container p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.contact-container p strong {
    color: #026670;
}



.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота на весь экран */
}