<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Про Нас</title>
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="icon" href="https://img.freepik.com/free-vector/orange-background-with-elephant-for-indian-republic-day_23-2147588186.jpg" type="image/jpeg">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main>
    <div class="banner">
        <h2>Чайний Слон</h2>
        <p>Завітай до мене :)</p>
    </div>
    <div class="banner1">
<h2>Хто такий чайний Слон?</h2>
    <h5 class="about">
        <br><br>Наш чайний Слон з радістю зустрічає вас з 2018 року.<br> Ми — невеликий, але дружній колектив, до складу якого входять три майстри: Арсеній, Сергій та Ольга. Кожен з нас має свою унікальну роль у нашій чайній родині, але спільна мета у нас одна — забезпечити вам найкращий чайний досвід.<br>

        <br> Ми спеціалізуємося на китайських чаях і пропонуємо широкий асортимент: від класичних зелених і чорних чаїв до рідкісних сортів. Кожен чай, який ми пропонуємо, проходить ретельний відбір і тестування, щоб гарантувати вам тільки найвищу якість.<br><br> Ми працюємо безпосередньо з постачальниками в Китаї, що дозволяє нам зберігати традиційний смак та аромат у кожній чашці.

        У нашій чайній ви знайдете не лише широкий вибір чаїв, але й теплу атмосферу і професійне обслуговування. Ми завжди готові допомогти вам з вибором, відповісти на ваші питання і порадити, який чай буде найкращим саме для вас.

        <br> Запрошуємо вас відвідати нас і відчути справжній смак китайських чаїв. Ми впевнені, що кожен ваш візит стане приємним відкриттям! </h5>
    </div>

    <div class="carousel">
        <div class="carousel-images">
            <a href="https://www.instagram.com/tea.slon.kharkiv?igsh=MWEzNXd3OWRybnkwag==" class="carousel-item"><img src="/images/serg2.jpg" alt="Image 1"></a>
            <a href="https://www.instagram.com/tea.slon.kharkiv?igsh=MWEzNXd3OWRybnkwag==" class="carousel-item"><img src="/images/arsen.jpg" alt="Image 2"></a>
            <a href="https://www.instagram.com/tea.slon.kharkiv?igsh=MWEzNXd3OWRybnkwag==" class="carousel-item"><img src="/images/serg1.jpg" alt="Image 3"></a>
        </div>
    </div>
    <section class="contact-info">
        <div class="contact-container">
            <h2>Контактна інформація</h2>
            <p><strong>Телефон:</strong> +380 50 402 46 30</p>
            <p><strong>Email:</strong> info@yourteashop.com</p>
            <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
            <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
        </div>
    </section>
</main>
<div th:replace="layouts/footer :: footer"></div>
<script src="js/carousel.js"></script>
</body>
</html>