<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Про Нас</title>
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main>
    <div class="banner">
        <div class="logoBnr">
            <a href="/"><b><img src="/images/logo.svg" alt="чайні гори"></b></a>
        </div>
        <div class="txtBnr">
        <h1>Чайні Гори</h1>
        <p>Завітай до мене :)</p>
        </div>
        <div class="search-block">
        <form action="/search" method="GET">
            <input class="searchInput" type="text" name="query" placeholder="Я шукаю">
            <button class="searchBtn" type="submit">Знайти</button>
        </form>
        </div>
    </div>
    <div class="banner1">
<h2>Де це такі чайні гори?</h2>
    <h5 class="about">
        <br><br>Наші чайні гори з радістю зустрічають вас з 2018 року.<br> Ми — невеликий, але дружній колектив, до складу якого входять три майстри: Арсеній, Сергій та Ольга. Кожен з нас має свою унікальну роль у нашій чайній родині, але спільна мета у нас одна — забезпечити вам найкращий чайний досвід.<br>

        <br> Ми спеціалізуємося на китайських чаях і пропонуємо широкий асортимент: від класичних зелених і чорних чаїв до рідкісних сортів. Кожен чай, який ми пропонуємо, проходить ретельний відбір і тестування, щоб гарантувати вам тільки найвищу якість.<br><br> Ми працюємо безпосередньо з постачальниками в Китаї, що дозволяє нам зберігати традиційний смак та аромат у кожній чашці.

        У нашій чайній ви знайдете не лише широкий вибір чаїв, але й теплу атмосферу і професійне обслуговування. Ми завжди готові допомогти вам з вибором, відповісти на ваші питання і порадити, який чай буде найкращим саме для вас.

        <br> Запрошуємо вас відвідати нас і відчути справжній смак китайських чаїв. Ми впевнені, що кожен ваш візит стане приємним відкриттям! </h5>
    </div>

    <section class="contact-info">
        <div class="contact-container">
            <h2>Контактна інформація</h2>
            <p><strong>Телефон:</strong> +380 50 402 46 30</p>
            <p><strong>Email:</strong> info@yourteashop.com</p>
            <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
            <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
        </div>
    </section>
</main>
<div th:replace="layouts/footer :: footer"></div>
<script src="js/carousel.js"></script>
</body>
</html>