<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кошик</title>
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="icon" href="/images/logo.svg" type="image/jpeg">
</head>
<body class="cartbody">
<div th:replace="layouts/header :: header"></div>
<div class="page-wrapper">
<main>
    <div class="banner">
        <div class="logoBnr">
            <a href="/"><b><img src="/images/logo.svg" alt="чайні гори"></b></a>
        </div>
        <div class="txtBnr">
        <h1>Чайні Гори</h1>
        <p>Оформлюй швидше :)</p>
        </div>
        <div class="search-block">
            <form action="/search" method="GET">
                <input class="searchInput" type="text" name="query" placeholder="Я шукаю">
                <button class="searchBtn" type="submit">Знайти</button>
            </form>
        </div>
    </div>

    <div class="itemsEmpty" th:if="${cart.isEmpty()}">
        <p>Ваш кошик порожній, але ви завжди можете це виправити :)</p>
        <a class="emptycarturl" href="/tea" >Обрати чай</a>
        <a class="emptycarturl" href="/posud">Обрати посуд</a>
    </div>
    <div class="itemsEmpty" th:if="${!cart.isEmpty()}">
        <h2>Ваш кошик</h2>
        <div class="items">
            <div class="item" th:each="el : ${cart}" >
                <div th:if="${!el.sort.equals('Посуд')}">
                <a class="iturl" th:href="'/item/' + ${el.itemId}">
                    <img th:src="@{${el.image}}" th:alt="${el.title}" loading="lazy">
                    <h3 th:text="${el.title}"/>
                    <span th:text="${el.price} + ' грн - ' + ${el.quantity} + 'г' "></span>
                </a>

                <form th:action="@{/cart/delete}" method="post" class="addtocartform">
                    <input type="hidden" name="itemId" th:value="${el.itemId}">
                    <button type="submit" class="addtocart">
                        ⨯
                    </button>
                </form>
                </div>
                <div th:if="${el.sort.equals('Посуд')}">
                    <a class="iturl" th:href="'/item/' + ${el.itemId}">
                        <img th:src="@{${el.image}}" th:alt="${el.title}" loading="lazy">
                        <h3 th:text="${el.title}"/>
                        <span th:text="${el.price} + ' грн - ' + ${el.quantity} + 'шт' "></span>
                    </a>
                    <form th:action="@{/cart/delete}" method="post" class="addtocartform">
                        <input type="hidden" name="itemId" th:value="${el.itemId}">
                        <button type="submit" class="addtocart">
                            ⨯
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="total-amount">
            <h3>   Загальна сума: <span th:text="${totalAmount} + ' грн'">0.00</span></h3>
        </div>
    </div>

    <div class="containerform">
        <form th:action="@{/cart/checkout}" method="post" class="cartform">
            <input type="text" name="customer_name" placeholder="Ім'я" required>
            <input type="text" name="customer_surname" placeholder="Прізвище" required>
            <input type="tel" name="customer_number" placeholder="Номер телефону" required>
            <input type="email" name="customer_email" placeholder="Електронна пошта" required>
            <input type="text" name="city" placeholder="Ваше місто" required>
            <input type="text" name="post_dep" placeholder="Номер відділення НП" required>
            <input type="text" name="description" placeholder="Ваш нік в телеграм(не обов'язково)">
            <button type="submit" class="addorder">Оформити замовлення</button>
        </form>
    </div>


    <div class="itemsEmpty" th:if="${itemsByProm.isEmpty()}">
        <p>Empty:(</p>
    </div>
    <div class="itemsEmpty" th:if="${!itemsByProm.isEmpty()}">
        <div th:each="entry : ${itemsByProm}">
            <div th:if="${entry.key.equals('Також може сподобатись')}">
                <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" th:text="${entry.key}"> </a>
                <div class="items">
                    <div class="item" th:each="el : ${entry.value}" th:if="${!el.sort.equals('Посуд') && !el.prom.equals('Шт')}">
                        <a class="iturl" th:href="'/item/' + ${el.id}">
                            <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                            <h3 th:text="${el.title}"/>
                            <span th:text="${el.price} + ' грн за 50г'"></span>
                        </a>
                        <form th:action="@{/cart/add}" method="post" class="addtocartform">
                            <input type="hidden" name="itemId" th:value="${el.id}">
                            <input type="hidden" name="basePrice" th:value="${el.price}">
                            <input type="hidden" name="image" th:value="${el.image1}">
                            <input type="hidden" name="title" th:value="${el.title}">
                            <input type="hidden" name="sort" th:value="${el.sort}">
                            <input type="hidden" name="quantity" value="50">
                            <button type="submit" class="addtocart">
                                <img class="cartIcon" src="/images/cartIcon.png" alt="cart">
                            </button>
                        </form>
                    </div>
                    <div class="item" th:each="el : ${entry.value}" th:if="${el.sort.equals('Посуд') || el.prom.equals('Шт')}">
                        <a class="iturl" th:href="'/item/' + ${el.id}">
                            <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                            <h3 th:text="${el.title}"/>
                            <span th:text="${el.price} + ' грн'"></span>
                        </a>
                        <form th:action="@{/cart/add}" method="post" class="addtocartform">
                            <input type="hidden" name="itemId" th:value="${el.id}">
                            <input type="hidden" name="basePrice" th:value="${el.price}*50">
                            <input type="hidden" name="image" th:value="${el.image1}">
                            <input type="hidden" name="title" th:value="${el.title}">
                            <input type="hidden" name="sort" th:value="${el.sort}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="addtocart">
                                <img class="cartIcon" src="/images/cartIcon.png" alt="cart">
                            </button>
                        </form>
                    </div>
                    <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" >Подивитись всі -></a>
                </div>
            </div>
        </div>
    </div>


</main>
    <section class="contact-info">
        <div class="contact-container">
            <h2>Контактна інформація</h2>
            <p><strong>Телефон:</strong> +380 50 402 46 30</p>
            <p><strong>Email:</strong> info@yourteashop.com</p>
            <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
            <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
        </div>
    </section>
<div th:replace="layouts/footer :: footer"></div>
</div>
</body>
</html>