<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Помилка</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" href="/images/logo.png" type="image/jpeg">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="notfull">
    <div class="banner">
        <h2>Чайний Слон</h2>
        <p>Завітай до мене :)</p>
    </div>
    <div class="banner1">
        <h2>Схоже, наш Арсеній загубив цю сторінку :(</h2>
        <h5 class="about">
            Але ви завжди можете повернутись на <a href="/">Головну</a> або до <a href="/cart">Кошика</a>
             </h5>
    </div>

    <section class="contact-info">
        <div class="contact-container">
            <h2>Контактна інформація</h2>
            <p><strong>Телефон:</strong> +380 50 402 46 30</p>
            <p><strong>Email:</strong> info@yourteashop.com</p>
            <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
            <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
        </div>
    </section>

</main>
<div th:replace="layouts/footer :: footer"></div>

</body>
</html>