<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Чайні Гори</title>
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="icon" href="/images/logo.svg" type="image/jpeg">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>
<div class="banner">
    <div class="logoBnr">
        <a href="/"><b><img src="/images/logo.svg" alt="Logo"></b></a>
    </div>
    <div class="txtBnr">
    <h1>Чайні Гори</h1>
    <p>Найкраща тиша в чаї, найкращий чай - в тиші</p>
    </div>
    <div class="search-block">
        <form action="/search" method="GET">
            <input class="searchInput" type="text" name="query" placeholder="Я шукаю">
            <button class="searchBtn" type="submit">Знайти</button>
        </form>
    </div>

</div>
<div class="page-wrapper">
<main>
    <div class="carousel">
        <div class="carousel-images">
            <a href="http://www.teamountains.store/item/10" class="carousel-item">
                <img src="/images/mainbnrMao1.png" alt="мао ча" loading="lazy">
            </a>
            <a href="https://www.instagram.com/tea.mountains.kharkiv/" class="carousel-item">
                <img src="/images/bnrInst.png" alt="tea.mountains.kharkiv" loading="lazy">
            </a>
            <a href="http://www.teamountains.store/tea/%D0%A7%D0%B5%D1%80%D0%B2%D0%BE%D0%BD%D0%B8%D0%B9%20%D0%A7%D0%B0%D0%B9" class="carousel-item">
                <img src="/images/mainbnr3.png" alt="червоний чай" loading="lazy">
            </a>
        </div>
        <button class="carousel-btn prev"><</button>
        <button class="carousel-btn next">></button>
    </div>

    <div class="itemsEmpty" th:if="${itemsByProm.isEmpty()}">
        <p>Empty:(</p>
    </div>
    <div class="itemsEmpty" th:if="${!itemsByProm.isEmpty()}">
        <div th:each="entry : ${itemsByProm}">
            <div th:if="${entry.key.equals('Акції')}">
                <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" th:text="${entry.key}"> </a>
                <div class="items">
                    <div class="item" th:each="el : ${entry.value}" th:if="${!el.sort.equals('Посуд') || !el.prom.equals('Шт')}">
                        <a class="iturl" th:href="'/item/' + ${el.id}">
                            <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                            <h3 th:text="${el.title}"/>
                            <span th:utext="${el.price} + ' грн <br> за 50г'"></span>
                        </a>
                        <form th:action="@{/cart/add}" method="post" class="addtocartform">
                            <input type="hidden" name="itemId" th:value="${el.id}">
                            <input type="hidden" name="basePrice" th:value="${el.price}">
                            <input type="hidden" name="image" th:value="${el.image1}">
                            <input type="hidden" name="title" th:value="${el.title}">
                            <input type="hidden" name="sort" th:value="${el.sort}">
                            <input type="hidden" name="quantity" value="50">
                            <button type="submit" class="addtocart">
                                <img class="cartIcon" src="/images/cartIcon.png" alt="чай">
                            </button>
                        </form>
                    </div>
                    <div class="item" th:each="el : ${entry.value}" th:if="${el.sort.equals('Посуд') || el.prom.equals('Шт')}">
                        <a class="iturl" th:href="'/item/' + ${el.id}">
                            <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                            <h3 th:text="${el.title}"/>
                            <span th:text="${el.price} + ' грн'"></span>
                        </a>
                        <form th:action="@{/cart/add}" method="post" class="addtocartform">
                            <input type="hidden" name="itemId" th:value="${el.id}">
                            <input type="hidden" name="basePrice" th:value="${el.price}*50">
                            <input type="hidden" name="image" th:value="${el.image1}">
                            <input type="hidden" name="title" th:value="${el.title}">
                            <input type="hidden" name="sort" th:value="${el.sort}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="addtocart">
                                <img class="cartIcon" src="/images/cartIcon.png" alt="чай">
                            </button>
                        </form>
                    </div>
                    <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" >Подивитись всі -></a>
                </div>
            </div>
            <div th:if="${entry.key.equals('Цікавий чайок')}">
                <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" th:text="${entry.key}"> </a>
                <div class="items">
                    <div class="item" th:each="el : ${entry.value}" >
                        <a class="iturl" th:href="'/item/' + ${el.id}">
                            <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                            <h3 th:text="${el.title}"/>
                            <span th:utext="${el.price} + ' грн <br> за 50г'"></span>
                        </a>
                        <form th:action="@{/cart/add}" method="post" class="addtocartform">
                            <input type="hidden" name="itemId" th:value="${el.id}">
                            <input type="hidden" name="basePrice" th:value="${el.price}">
                            <input type="hidden" name="image" th:value="${el.image1}">
                            <input type="hidden" name="title" th:value="${el.title}">
                            <input type="hidden" name="sort" th:value="${el.sort}">
                            <input type="hidden" name="quantity" value="50">
                            <button type="submit" class="addtocart">
                                <img class="cartIcon" src="/images/cartIcon.png" alt="чай">
                            </button>
                        </form>
                    </div>
                    <a class="kinds" th:href="@{'/tea/' + ${entry.key}}" >Подивитись всі -></a>
                </div>
            </div>
        </div>
    </div>

</main>
    <section class="contact-info">
        <div class="contact-container">
            <h2>Контактна інформація</h2>
            <p><strong>Телефон:</strong> +380 50 402 46 30</p>
            <p><strong>Email:</strong> info@yourteashop.com</p>
            <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
            <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
        </div>
    </section>
<div th:replace="~{layouts/footer :: footer}"></div>
</div>
<script src="js/carousel.js"></script>
</body>
</html>