<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Посуд</title>
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="icon" href="/images/logo.svg" type="image/jpeg">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<main>
    <div class="banner">
        <div class="logoBnr">
            <img src="/images/logo.svg" alt="Logo">
        </div>
        <div class="txtBnr">
        <h2>Чайний Слон</h2>
        <p>Не Ви обираєте чайник - чайник обирає Вас</p>
        </div>
        <div class="search-block">
            <form action="/search" method="GET">
                <input class="searchInput" type="text" name="query" placeholder="Я шукаю">
                <button class="searchBtn" type="submit">Знайти</button>
            </form>
        </div>
    </div>

    <div class="itemsEmpty" th:if="${itemsByCategory.isEmpty()}">
        <p>Empty:(</p>
    </div>
    <div class="itemsEmpty" th:if="${!itemsByCategory.isEmpty()}">

        <div th:each="entry : ${itemsByCategory}">
            <div th:if="${entry.key.equals('Посуд')}">
            <h2 class="kinds" th:text="${entry.key}" > </h2>
            <div class="items">
                <div class="item" th:each="el : ${entry.value}" >
                    <a class="iturl" th:href="'/item/' + ${el.id}">
                        <img th:src="@{${el.image1}}" th:alt="${el.title}" loading="lazy">
                        <h3 th:text="${el.title}"/>
                        <span th:text="${el.price} + ' грн'"></span>
                    </a>
                    <form th:action="@{/cart/add}" method="post" class="addtocartform">
                        <input type="hidden" name="itemId" th:value="${el.id}">
                        <input type="hidden" name="basePrice" th:value="${el.price}*50">
                        <input type="hidden" name="image" th:value="${el.image1}">
                        <input type="hidden" name="title" th:value="${el.title}">
                        <input type="hidden" name="sort" th:value="${el.sort}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="addtocart">
                            <img class="cartIcon" src="/images/cartIcon.png" alt="cart">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        </div>

    </div>
</main>
<section class="contact-info">
    <div class="contact-container">
        <h2>Контактна інформація</h2>
        <p><strong>Телефон:</strong> +380 50 402 46 30</p>
        <p><strong>Email:</strong> info@yourteashop.com</p>
        <p><strong>Адреса:</strong> Сумський Ринок, місто-Герой Харків</p>
        <p><strong>Години роботи:</strong> Пн-Нд: 9:00 - 18:00</p>
    </div>
</section>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>